{% extends "layouts/launchpad-home.html" %}
{% set pageName="Transactions" %}
{% set bodyClasses = 'profile' %}
{% set homeurl="/launchpad/v1/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="{{homeurl}}/profile/">John's profile</a>
            </li>
          </ol>
        </div>
      </nav>

      <h1 class="govuk-heading-xl">
        {{pageName}}
      </h1>
    </div>
  </div>


  <div class="govuk-width-container">
    <div class="govuk-body">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with my transactions
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">For more help:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="https://thestudio.content-hub.prisoner.service.justice.gov.uk/content/8534" class="govuk-link" target="_blank">read more about what this page means</a>
            </li>
            <li>put in an app</li>
            <li>ask a member of staff</li>
          </ul>
        </div>
      </details>

      <ul class="govuk-tabs__list">

        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="./spends">
            Spends
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="./private">
            Private
          </a>
        </li>

        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="./savings">
            Savings
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="./damage-obligations">
            Damage obligations
          </a>
        </li>
      </ul>

      <div class="govuk-tabs__panel">
        <ul class="transaction__balances">
          <li>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Current balance</h2>
            <p class="govuk-body govuk-!-margin-top-5" data-hj-suppress="">£621.24</p>
          </li>
        </ul>
        <div class="transactions__selection_wrapper">
          <form method="GET">
            <div class="transactions__selection__form">
              <input type="hidden" name="accountType" value="spends">
              <div class="govuk-form-group">
                <label class="govuk-label" for="selected-date">
                  View by month and year
                </label>

                <select class="govuk-select" id="selected-date" name="selectedDate">
                  <option value="2023-11-01">November 2023</option>
                  <option value="2023-10-01">October 2023</option>
                  <option value="2023-09-01">September 2023</option>
                  <option value="2023-08-01">August 2023</option>
                  <option value="2023-07-01">July 2023</option>
                  <option value="2023-06-01">June 2023</option>
                  <option value="2023-05-01">May 2023</option>
                  <option value="2023-04-01">April 2023</option>
                  <option value="2023-03-01">March 2023</option>
                  <option value="2023-02-01">February 2023</option>
                  <option value="2023-01-01">January 2023</option>
                  <option value="2022-12-01">December 2022</option>
                </select>
              </div>
              <button class="govuk-button" data-module="govuk-button">
                View
              </button>

            </div>
          </form>
        </div>

        <div id="transactions" data-hj-suppress="">
          <table class="govuk-table">


            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Payment date</th>
                <th scope="col" class="govuk-table__header">Money in</th>
                <th scope="col" class="govuk-table__header">Money out</th>
                <th scope="col" class="govuk-table__header">Balance</th>
                <th scope="col" class="govuk-table__header">Payment description</th>
                <th scope="col" class="govuk-table__header">Prison</th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">


              <tr class="govuk-table__row">
                <td class="govuk-table__cell">10 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£621.24</td>
                <td class="govuk-table__cell">Unemployment Pay from 9 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">9 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£620.74</td>
                <td class="govuk-table__cell">Unemployment Pay from 8 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8 November 2023</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">-£1.00</td>
                <td class="govuk-table__cell">-£270.00</td>
                <td class="govuk-table__cell">Television</td>
                <td class="govuk-table__cell">Kirkham (HMP)</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">8 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£620.24</td>
                <td class="govuk-table__cell">Unemployment Pay from 7 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">7 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£619.74</td>
                <td class="govuk-table__cell">Unemployment Pay from 6 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">6 November 2023</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">-£0.50</td>
                <td class="govuk-table__cell">£619.24</td>
                <td class="govuk-table__cell">Television</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">4 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£619.74</td>
                <td class="govuk-table__cell">Unemployment Pay from 3 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">3 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£619.24</td>
                <td class="govuk-table__cell">Unemployment Pay from 2 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">2 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£618.74</td>
                <td class="govuk-table__cell">Unemployment Pay from 1 November 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">1 November 2023</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">-£1.00</td>
                <td class="govuk-table__cell">-£269.00</td>
                <td class="govuk-table__cell">Television</td>
                <td class="govuk-table__cell">Kirkham (HMP)</td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">1 November 2023</td>
                <td class="govuk-table__cell">£0.50</td>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell">£618.24</td>
                <td class="govuk-table__cell">Unemployment Pay from 31 October 2023</td>
                <td class="govuk-table__cell">HMP/YOI Cookham Wood</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>

    </div>


  </div>

  {% endblock %}
