{% extends "layouts/dps.html" %}

{% set pageName="Home" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/latest/" %}


{% block content %}

<div class="dps-landing-page-header__container__wrapper">
  <div class="govuk-width-container">
    <div class="dps-landing-page-header__container">
      <div class="dps-landing-page-header__text">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Applications</h1>
            <p class="govuk-body-l">Log, action and reply to prisoner applications. You can also forward applications to other departments or to another member of staff.</p>
            <p class="govuk-body">Give us your <a href="">feedback</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dps-landing-page-content__container__wrapper">
  <div class="govuk-width-container">
    <div class="dps-landing-page-content__container">
      <div class="dps-landing-page-content__list">

        <a href="./log/select-app-type.html" class="govuk-button" data-module="govuk-button">
          Log an application
        </a>

        <h2 class="govuk-heading-m">Departments</h2>

        <ul class="dps-landing-page__list-menu govuk-!-margin-bottom-9">
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">21</span> <a href="./business-hub/">Business Hub</a>
            </li>
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">22</span> <a href="#">OMU</a>
            </li>
        </ul>

        <h2 class="govuk-heading-m">Wings</h2>

        <ul class="dps-landing-page__list-menu">
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">44</span> <a href="#">A</a>
            </li>
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">21</span> <a href="./business-hub/">B</a>
            </li>
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">4</span> <a href="#">C</a>
            </li>
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">18</span> <a href="#">D</a>
            </li>
            <li class="dps-landing-page__list-menu-item">
              <span class="govuk-tag govuk-tag--red list-menu-item-notification">42</span> <a href="#">E</a>
            </li>
        </ul>


      </div>
    </div>
  </div>
</div>


{% endblock %}
