// _global.scss
// Styles that affect multiple pages

.hmpps-header {
    margin-bottom: 30px;
}

body.launchpad-home > .govuk-width-container  {
  max-width: none;
  margin: 0;
}

.govuk-main-wrapper {
  padding-bottom: 0;
  min-height: 0px;
}


.govuk-footer__copyright-logo {
    background-image: url(/public/images/govuk-crest-2x.png);
}
