// _timetable.scss
// Styles for the timetable page

.timetable-day-blocks div.govuk-body {
  margin-bottom: 40px;
  width: 32.5%;
}

.timetable-headings {
  margin-bottom: 40px;
  .timetable-day-blocks {
    div {background: white;}
    h4 {
      margin-left: 1%;
  }
}
}

.timetable-headings {
  border-top: solid $govuk-border-colour;
  border-bottom: solid $govuk-border-colour;
  margin-top: 20px;
}

.timetable-footer {
  border-top: solid $govuk-border-colour;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}


@media (min-width: 40.0625em) {

  .timetable-headings > h4 {
    font-size: 24px;
    font-size: 1.5rem;
    }

}

@media (max-width: 60.625em) {
  .timetable-header {
    display: block;
    .timetable-nav {
      display: block;
      text-align: left;;
      * {margin-left: 0; margin-right: 25px;}
    }
  }


}
