//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

// Content Hub
@import "content-hub";

// App Masthead
@import './components/app-masthead';

// Launchpad
@import './launchpad/components/header-bar';
@import './launchpad/components/events-summary';
@import './launchpad/components/tiles-panel';
@import './launchpad/components/link-tile';
@import './launchpad/components/internal-link-tile';
@import "./launchpad/local";
@import './launchpad/pages/homepage';
@import './launchpad/pages/settings';

// Profile
@import "global";
@import "profile";
@import "timetable";
@import "profile.scss";
@import "timetable.scss";

// DPS styles
@import "./dps/dps.scss";
@import "./dps/dps-header-bar.scss";

// Managing Apps
@import "./dps/managing-apps.scss";
@import "./dps/accessible-autocomplete.scss";


// Accelerator
@import "accellerator.scss";

// Sandbox
@import "sandbox.scss";
