{% extends "layouts/launchpad.html" %}

{% set pageName="Access my stored property" %}
{% set version="v1" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/v1/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../../">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Requests</a>
            </li>
						<li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Reception</a>
            </li>
          </ol>
        </div>
      </nav>

      <span class="govuk-caption-xl">Reception requests</span>
      <h1 class="govuk-heading-xl">
        {{pageName}}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-right-9 govuk-!-padding-left-0">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Pending
            </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prisoner name
          </dt>
          <dd class="govuk-summary-list__value">
            John Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prison number
          </dt>
          <dd class="govuk-summary-list__value">
            G4346UT
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Location
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">C-2-013</p>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            IEP
          </dt>
          <dd class="govuk-summary-list__value">
            Enhanced
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Message
          </dt>
          <dd class="govuk-summary-list__value">
            Want my own clothes out of storage now Im enhanced
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date sent
          </dt>
          <dd class="govuk-summary-list__value">
            13 March 2024
          </dd>
        </div>
      </dl>

      </div>

      <div class="govuk-grid-column-one-thirds govuk-!-padding-0">
        <h2 class="govuk-heading-l">Request actions</h2>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Status
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Pending
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Approved
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  Rejected
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      </div>


      <div class="govuk-grid-column-full govuk-!-padding-0">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--l">Messages and replies</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Message</th>
              <th scope="col" class="govuk-table__header">From</th>
              <th scope="col" class="govuk-table__header">Shared with</th>
              <th scope="col" class="govuk-table__header">When</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">What is it exactly that you want access to?</td>
              <td class="govuk-table__cell">Reception</td>
              <td class="govuk-table__cell">Everyone</td>
              <td class="govuk-table__cell">19th March 2024 at 14:40</td>
            </tr>
          </tbody>
        </table>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Send a reply
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  What is it exactly that you want access to?
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Do you want to put anything into storage?
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                  When do you need this by?
                </label>
              </div>
            </div>
          </fieldset>
        </div>


      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-0">


      <div class="govuk-form-group">
        <h3 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="more-detail">

          </label>
        </h3>
        <div id="more-detail-hint" class="govuk-hint">

        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Share with
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                  Everyone
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                  Staff only
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                  Specific staff
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Enter staff names
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                </div>
              </div>
            </div>
          </fieldset>
        </div>


        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>


    </div>


  </div> <!-- end main content  -->



{% endblock %}
