{% extends "layouts/launchpad.html" %}

{% set pageName="Home" %}
{% set version="v1" %}

{% block content %}

  <section class="govuk-grid-row govuk-width-container">
    <time class="govuk-heading-l today-date">{{ 0 | getDate }}</time>
  </section>

  <section class="govuk-grid-row govuk-width-container" id="top-row-wrapper">
    <div id="events-summary-wrapper">
      <div class="events-summary govuk-!-padding-4">

        <h2 class="govuk-heading-m">Today's events</h2>

        <div class="govuk-!-padding-bottom-2">
              <div class="event-details govuk-!-margin-bottom-2 govuk-body-l">
                <div class="time">8.30am to 11.45am</div>
                <div class="description"><strong>RES B C1 Com Worker</strong> Landing C1</div>
              </div>
              <div class="event-details govuk-!-margin-bottom-2 govuk-body-l">
                <div class="time">1.45pm to 4.45pm</div>
                <div class="description"><strong>RES B C1 Com Worker</strong> Landing C1</div>
              </div>
              <div class="event-details govuk-!-margin-bottom-2 govuk-body-l">
                <div class="time">6.30pm to 7.35pm  </div>
                <div class="description"><strong>Gym</strong></div>
              </div>
        </div>
        <a href="./profile/timetable/" class="govuk-body-l govuk-link" id="view-timetable-link">View my timetable</a>
      </div>
    </div>

    <div class="internal-link-tile" id="internal-link-tile-profile">
      <a href="./profile/">
        <h2 class="govuk-heading-l govuk-!-margin-top-0">Profile</h2>
        <p class="govuk-body-l">Check money, visits, IEP, adjudications and timetable</p>
      </a>
    </div>
  </section>

  <div class="container-background-black tiles-panel" data-test="tiles-panel">
    <section class="govuk-width-container">
        <div id="tiles">
          <div class="link-tile">
              <a href="" target="_blank">
                  <img src="/public/images/home/Unilink.png"
                      alt="link tile image"
                      loading="lazy" />
                  <footer class="govuk-!-padding-4 govuk-grid-column-full">
                      <h3 class="govuk-heading-m">Self-service</h3>
                      <p class="govuk-body">Access the kiosk apps.</p>
                  </footer>
              </a>
          </div>
          <div class="link-tile">
              <a href="https://thestudio.content-hub.prisoner.service.justice.gov.uk/" target="_blank">
                  <img src="/public/images/home/ContentHub.png"
                      alt="link tile image"
                      loading="lazy" />
                  <footer class="govuk-!-padding-4 govuk-grid-column-full">
                      <h3 class="govuk-heading-m">Content Hub</h3>
                      <p class="govuk-body">Watch, read and listen to local and national content.</p>
                  </footer>
              </a>
          </div>
          <div class="link-tile">
              <a href="https://thestudio.content-hub.prisoner.service.justice.gov.uk/tags/785" target="_blank">
                  <img src="/public/images/home/NPR.png"
                      alt="link tile image"
                      loading="lazy" />
                  <footer class="govuk-!-padding-4 govuk-grid-column-full">
                      <h3 class="govuk-heading-m">NPR</h3>
                      <p class="govuk-body">Listen to 24/7 music, talk, requests and playbacks.</p>
                  </footer>
              </a>
          </div>
          <div class="link-tile">
              <a href="https://insidetime.org/" target="_blank">
                  <img src="/public/images/home/InsideTime.png"
                      alt="link tile image"
                      loading="lazy" />
                  <footer class="govuk-!-padding-4 govuk-grid-column-full">
                      <h3 class="govuk-heading-m">Inside Time</h3>
                      <p class="govuk-body">Read the national newspaper for prisoners and detainees.</p>
                  </footer>
              </a>
          </div>
        </div>
    </section>


  </div>


{% endblock %}
