{% extends "layouts/dps.html" %}

{% set pageName="Forward this application " %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <form class="form" action="{{homeurl}}applications/business-hub/apps/app-1/">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedDept-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <span class="govuk-caption-xl">
              {% if data['appType'] == "bh_02" %}
                Add emergency PIN phone credit
              {% elseif data['appType'] == "bh_03" %}
                Add new PIN phone contact
              {% elseif data['appType'] == "bh_04" %}
                Remove PIN phone contact
              {% elseif data['appType'] == "bh_05" %}
                Swap visiting orders (VOs) for PIN credit
              {% else %}
                Top up PIN phone credit
              {% endif %}
            </span>
            <h1 class="govuk-fieldset__heading">
              {{pageName}}
            </h1>
          </legend>
          <div id="changedDept-hint" class="govuk-hint">
            Send this application to:
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept" name="appDept" type="radio" value="Activities">
              <label class="govuk-label govuk-radios__label" for="appDept">
                Activities
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-2" name="appDept" type="radio" value="Chaplaincy">
              <label class="govuk-label govuk-radios__label" for="appDept-2">
                Chaplaincy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-3" name="appDept" type="radio" value="Education">
              <label class="govuk-label govuk-radios__label" for="appDept-3">
                Education
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-4" name="appDept" type="radio" value="Healthcare">
              <label class="govuk-label govuk-radios__label" for="appDept-4">
                Healthcare
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-4" name="appDept" type="radio" value="OMU">
              <label class="govuk-label govuk-radios__label" for="appDept-6">
                OMU
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-4" name="appDept" type="radio" value="Safer Custody">
              <label class="govuk-label govuk-radios__label" for="appDept-7">
                Safer custody
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="appDept-4" name="appDept" type="radio" value="Security">
              <label class="govuk-label govuk-radios__label" for="appDept-7">
                Security
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="more-detail">
          Reason for forwarding this application (optional)
        </label>
        <div id="more-detail-hint" class="govuk-hint">
          This is added to the comments for other staff to see.
        </div>
        <textarea class="govuk-textarea" id="forwardReasons" name="forwardReasons" rows="5"></textarea>
      </div>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"">Notify staff about this comment (optional)</legend>

        <dl id="notify-list" class="govuk-summary-list">
        </dl>

        <div class="govuk-form-group">
          <label for="my-autocomplete" class="govuk-label">Name</label>
          <div class="notify-group">
            <div id="my-autocomplete-wrapper">
                <select id="my-autocomplete">
                  <option value="" selected disabled hidden></option>
                  {% for individual in data['staff'] %}
                    <option value="{{ individual.name }} ({{ individual.dept }})">{{ individual.name }} ({{ individual.dept }})</option>
                  {% endfor %}
                </select>
            </div>
            <a id="addName" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Add
            </a>
          </div>

        </div>
      </fieldset>

      <div class="moj-button-action">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>

      </form>

    </div>
  </div>
</div>
</div>

  </div> <!-- end main content  -->



{% endblock %}

{% block pageScripts %}
<script>
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#my-autocomplete')
  })
</script>

{% endblock %}
