{% extends "layouts/dps.html" %}

{% set pageName="New PIN phone contact" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/latest/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}applications/omu/">OMU</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <span class="govuk-caption-xl">OMU applications</span>
      <h1 class="govuk-heading-xl">
        {% if data['appType'] == "bh_02" %}
          Add emergency PIN phone credit
        {% elseif data['appType'] == "bh_03" %}
          Add new PIN phone contact
        {% elseif data['appType'] == "bh_04" %}
          Remove PIN phone contact
        {% elseif data['appType'] == "bh_05" %}
          Swap visiting orders (VOs) for PIN credit
        {% elseif data['appType'] == "bh_06" %}
            Supply list of PIN phone contacts
        {% else %}
          Top up PIN phone credit
        {% endif %}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./index.html">Application</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments.html">
              Comments
              {% if data['newComment'] %}
              <span id="notifications" class="moj-notification-badge">1</span>
              {% endif %}
            </a>
          </li>

          {% if data['actionRespond'] == "approved" or data['actionRespond'] == "declined"  %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action-decision.html">Action and reply</a>
          </li>
          {% else %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action.html">Action and reply</a>
          </li>
          {% endif %}

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history.html">History</a>
          </li>
        </ul>

      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Applicaton details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--grey">
                  Pending
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['appDept'] %}
                  {{ data['appDept'] }}
                {% else %}
                  OMU
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="forward.html">Forward<span class="govuk-visually-hidden"> department</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['appType'] == "bh_02" %}
                  Add emergency PIN phone credit
                {% elseif data['appType'] == "bh_03" %}
                  Add new PIN phone contact
                {% elseif data['appType'] == "bh_04" %}
                  Remove PIN phone contact
                {% elseif data['appType'] == "bh_05" %}
                  Swap visiting orders (VOs) for PIN credit
                {% elseif data['appType'] == "bh_06" %}
                    Supply list of PIN phone contacts
                {% else %}
                  Top up PIN phone credit
                {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date sent
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ 0 | getDate }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                321321
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Patel, Taj (
                  {% if data['prisonNumber'] %}
                    {{ data['prisonNumber'] }}
                  {% else %}
                    12345678
                  {% endif %}
                  )</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                C-2-013
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IEP
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Enhanced</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alerts
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">5</p>
              </dd>
            </div>
          </dl>

          {% if data['appType'] == "bh_02" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Emergency PIN phone credit</h2>
            <a href="/managing-app-requests/staff/latest/applications/log/emergency-pin-credit.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Emergency PIN phone credit</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                £{{ data['pinCredit'] }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reason
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['emergencyPInReason'] }}
              </dd>
            </div>
          </dl>

          {% elseif data['appType'] == "bh_03" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Contact's details</h2>
            <a href="/managing-app-requests/staff/latest/applications/log/new-pin-contact.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Contact's details</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['companyName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 1
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress1'] %}
                  {{ data['contactAddress1'] }}
                {% else %}
                  23 Maple Street
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 2
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress2'] %}
                  {{ data['contactAddress2'] }}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Town or city
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactTowncity'] %}
                  {{ data['contactTowncity'] }}
                {% else %}
                  Manchester
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Postcode
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactPostcode'] %}
                  {{ data['contactPostcode'] }}
                {% else %}
                  M1 4QQ
                {% endif %}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Country
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactCountry'] %}
                  {{ data['contactCountry'] }}
                {% else %}
                  United Kingdom
                {% endif %}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Telephone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ data['contactTel1'] }}</p>
                <p>{{ data['contactTel2'] }}</p>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Relation to prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactRelationship'] }}
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contact-dob-day'] }} / {{ data['contact-dob-month'] }} / {{ data['contactDOByear'] }} <span id="age"> ({{ 2024 - data['contactDOByear'] | int }} years old)</span>
              </dd>
            </div>

          </dl>

          {% elseif data['appType'] == "bh_04" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Contact details</h2>
            <a href="/managing-app-requests/staff/latest/applications/log/remove-pin-contact.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Visiting orders</span></a>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactName'] }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Telephone numbers
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ data['contactTel'] }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                 Relation to prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['contactRelationship'] }}
              </dd>
            </div>

          </dl>


          {% elseif data['appType'] == "bh_05" %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Visiting orders</h2>
            <a href="/managing-app-requests/staff/latest/applications/log/swap-vos-pin-credit.html" class="govuk-body">Change <span class="govuk-visually-hidden"> Visiting orders</span></a>
          </div>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Month
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['voMonth'] }}
              </dd>
            </div>
          </dl>

          {% elseif data['appType'] == "bh_06" %}

          {% else %}
          <div class="govuk-summary-list--header">
            <h2 class="govuk-heading-m">Top up credit</h2>
            <a href="/managing-app-requests/staff/latest/applications/log/topup-pin-credit.html" class="govuk-body">Change <span class="govuk-visually-hidden"> PIN phone credit</span></a>
          </div>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount
              </dt>
              <dd class="govuk-summary-list__value">
                {%  if data['pinCredit'] %}
                  £{{ data['pinCredit'] }}
                {% else %}
                  £5
                {% endif %}
              </dd>
            </div>
          </dl>

          {% endif %}


         </div>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
