{% extends "layouts/launchpad.html" %}

{% set pageName="Social visitors" %}

{% set bodyClasses = 'launchpad' %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-width-container govuk-body ">

    <nav aria-label="breadcrumb">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../../">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../">John's profile</a>
          </li>
        </ol>
      </div>
    </nav>
    <h1 class="govuk-heading-xl">
      {{pageName}}
    </h1>
  </div>

  <div class="hub-header timetable-header" id="main-content">
    <div class="govuk-width-container">

      <div class="govuk-!-margin-bottom-7">
        <a href="https://wayland.content-hub.prisoner.service.justice.gov.uk/tags/1133" class="govuk-link govuk-!-font-size-24">Find out more about visits</a>
      </div>
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ommkien Adryana</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Eruongenne Anissentino</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Aichisa Cliffoinette</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Atminiwa Daishie</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Cuzuirake Lilee</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Izgyneing Macith</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Ommkien Parkista</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Atminiwa Shawneste</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Cuzuirake Spencana</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Aichisa Tareo</td>
          </tr>

        </tbody>
      </table>


      <div class="govuk-!-margin-bottom-9">
        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="?page=1" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="?page=2" aria-label="Page 2">
                2
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="?page=2" rel="next">
              <span class="govuk-pagination__link-title">Next</span>
              <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

{% endblock %}
