<!--  version 1 -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/launchpad/v1-2/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.1</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--blue">
      In development
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Removed the link to Inside Time</h2>
    <p>Inside Time is not going live so have created a version of Launchpad Home without that tile.</p>
  </td>
</tr>
<!--  end version 1 -->
