<!--  version 1 -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/launchpad/v1/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Deprecated
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Moving the profile to Launchpad</h2>
    <p>This prototype is for the piece of work after private beta to move the profile from the content hub to Launhcpad.</p>
    <p>
      <a href="https://www.figma.com/file/vO7AB9W8CteHT50DTpZd0s/Bringing-the-prisoner-profile-into-Launchpad?type=design&node-id=0-1&mode=design" target="_blank">Figma screens</a> |
      <a href="https://dsdmoj.atlassian.net/wiki/spaces/LAUNCHPAD/pages/4596335681/Moving+the+prisoner+profile+to+Launchpad" target="_blank">Design history</a> |
      <a href="https://dsdmoj.atlassian.net/browse/LNP-360" target="_blank">Jira LNP-360</a>
    </p>
  </td>
</tr>
<!--  end version 1 -->
