//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

body.dps > .govuk-width-container {
  max-width: none;
}

body.dps .govuk-main-wrapper {
  padding-top: 0;

}

body.dps {

  .govuk-breadcrumbs {
      font-family: "GDS Transport", arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
      color: #0b0c0c;
      margin-top: 15px;
      margin-bottom: 10px;
  }

  .govuk-breadcrumbs__link:hover {
      color: rgba(11,12,12,.99)
  }

  .govuk-breadcrumbs__link:link,
  .govuk-breadcrumbs__link:visited,
  .govuk-breadcrumbs__link:active,
  .govuk-breadcrumbs__link:focus {
      color: #0b0c0c
  }

}

// DPS home page styles

.dps-intro__container__wrapper {
  background: rgb(223, 234, 243);
  .dps-intro__container {
    padding: 25px 0;
    display: flex;
    align-items: flex-start;
    img {
      margin-right: 20px;
    }
    .dps-intro__text {
      * {margin: 0 0 5px 0;}
    }
  }
}

.homepage-search {
  background: #F3F2F1;
  padding: 25px 0;
  .name-prisoner-number {
    width: 25em;
  }
  .govuk-form-group--inline {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px;
    align-items: end;
    & > div, .govuk-button {
      margin-bottom: 0;
    }
  }
  .govuk-radios__label {
    white-space: nowrap;}
}

.card_dps {
  padding: 20px;
  & > a {
        text-decoration: none;
  }
}

// DPS landing page styles

.dps-landing-page-header__container__wrapper {
  background: rgb(38, 49, 53);
    .dps-landing-page-header__container{
      padding: 25px 0;
      .dps-landing-page-header__text {
        * { color: white;}
      }
    }
}

.dps-landing-page-content__container__wrapper  {
  .dps-landing-page-content__container {
    padding: 25px 0;
  }
}

.dps-landing-page__list-menu {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   font-size: 19px;
   width: 100%;
    .dps-landing-page__list-menu-item {
      flex-basis: calc(50% - 10px);
      box-sizing: border-box;
      padding: 15px 0;
      border-top: 1px solid #b1b4b6;
      span.list-menu-item-notification {
        font-weight: normal;
        border-radius: 20px;
        margin-right:5px;
      }
    &:nth-child(odd) {margin-right: 10px;}
    &:nth-child(even) {margin-left: 10px;}
    }
}
