{% extends "layouts/dps.html" %}

{% set pageName="Check details" %}
{% set version="v1" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/v1-1/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

    <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-xl">Log an application</span>
        <h1 class="govuk-heading-xl">{{pageName}}</h1>

        <h2 class="govuk-heading-m">Application type</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['appType'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Application type</span></a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Prisoner details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prisoner name
            </dt>
            <dd class="govuk-summary-list__value">
              Patel, Taj ({{ data['prisonNumber'] }})
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Prisoner name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Submitted on
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['submittedDate'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Submitted on</span></a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Contact's details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Full name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['companyName'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Company</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 1
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactAddress1'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Address line 1</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address line 2
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactAddress2'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Address line 2</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactTowncity'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Town or city</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactPostcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Postcode</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactTel'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Telephone number</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
               Relation to prisoner
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['contactRelationship'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Relation to prisoner</span></a>
            </dd>
          </div>

        </dl>
        <form class="form" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="addAnother-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Add another new application?
                </h2>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
              </div>
              <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="submitMore-1" name="submitMore" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="submitMore-1">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="submitMore-2" name="submitMore" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="submitMore-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
            <div class="govuk-checkboxes__item hidden">
              <input class="govuk-checkboxes__input" id="newApp" name="newApp" type="checkbox" value="true" checked>
              <label class="govuk-label govuk-checkboxes__label" for="newApp">
                New app
              </label>
            </div>
          </div>

          <div class="moj-button-action">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save application
            </button>
          </div>

        </form>
      </div>
    </div>

    </div>
  </div>

  </div> <!-- end main content  -->



{% endblock %}
