{% extends "layouts/launchpad-home.html" %}
{% set pageName="View details of 1310574" %}
{% set bodyClasses = 'adjudications' %}
{% set homeurl="/launchpad/v1-1-2/" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-width-container govuk-body ">

    <nav aria-label="breadcrumb">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{homeurl}}">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{homeurl}}profile/">John's profile</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{homeurl}}adjudications">Adjudications</a>
          </li>
        </ol>
      </div>
    </nav>

    <h1 class="govuk-heading-xl">
      {{pageName}}
    </h1>
  </div>

    <div class="hub-header timetable-header"  id="main-content">


    <div class="govuk-width-container">

      <div class=" govuk-!-padding-bottom-7">

              <div class="govuk-width-container">
              <div class="govuk-!-margin-bottom-7">
                <a href="https://thestudio.content-hub.prisoner.service.justice.gov.uk/content/4193" class="govuk-link govuk-!-font-size-24" target="_blank">Read more about adjudications</a>
              </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">

        <dl class="govuk-summary-list govuk-summary-list--no-border">


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Governor's report number
                </dt>
                <dd class="govuk-summary-list__value">
                  1291673
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  When
                </dt>
                <dd class="govuk-summary-list__value">
                  7 May 2016, 3.24pm
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  H Wing, Wymott (HMP)
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Report date and time
                </dt>
                <dd class="govuk-summary-list__value">
                  8 May 2016, 2.16pm
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What happened
                </dt>
                <dd class="govuk-summary-list__value">
                  kGcUrJduYbHFvvoFbxDgFVPUleDIlNnRiMOBlXyIaqSFSKMRNPeZdsvWkgddXQLGoWGgTmOBoWlXgbmztihPGinTsreJoJPOMZmlxaTClQwKUhVePLtezzZhNlqIwdQBwXJeBGBfzeabQJxICXnoIpvZLckGcUrJduYbHFvvoFbxDgFVPUleDIlNnRiMOBlXyIaqSFSKMRNPeZdsvWkgddXQLGoWGgTmOBoWlXgbmztihPGinTsreJoJPOMZmlxaTClQwKUhVePLtezzZhNlqIwdQBwXJeBGBfzeabQJxICXnoIpvZL
                </dd>

              </div>
        </dl>

            </div>
          </div>


            <div class="govuk-grid-column-full">

      <div class="govuk-grid-row">
        <article class="moj-ticket-panel" aria-label="hearing">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="hearing detail">
            <h2 class="govuk-heading-m" id="hearingDateTime">Hearing on 9 July 2016, 9.00am</h2>

        <dl class="govuk-summary-list govuk-summary-list--no-border">


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Governor's Hearing Adult
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Adjudication Room, Wymott (HMP)
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Heard by
                </dt>
                <dd class="govuk-summary-list__value">
                  Unavailable
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Comments
                </dt>
                <dd class="govuk-summary-list__value">
                  Unavailable
                </dd>

              </div>


        </dl>



          </section>
        </article>
      </div>



      <div class="govuk-grid-row">
        <article class="moj-ticket-panel" aria-label="hearing">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="hearing detail">
            <h2 class="govuk-heading-m" id="hearingDateTime">Hearing on 14 June 2016, 9.00am</h2>

        <dl class="govuk-summary-list govuk-summary-list--no-border">


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Governor's Hearing Adult
                </dd>

              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Adjudication Room, Wymott (HMP)
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Heard by
                </dt>
                <dd class="govuk-summary-list__value">
                  U. Alinda
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Comments
                </dt>
                <dd class="govuk-summary-list__value">
                  Unavailable
                </dd>

              </div>


        </dl>



              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h3 class="govuk-heading-s govuk-grid-column-three-quarters govuk-!-padding-left-0" id="hearingDateTime">Intentionally endangers the health or personal safety of others or, by his conduct, is reckless whether such health or personal safety is endangered</h3>












        <dl class="govuk-summary-list govuk-summary-list--no-border">


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Paragraph
                </dt>
                <dd class="govuk-summary-list__value">
                  51:5
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Type
                </dt>
                <dd class="govuk-summary-list__value">
                  Prison Rule 51
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Plea
                </dt>
                <dd class="govuk-summary-list__value">
                  Not guilty
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Status
                </dt>
                <dd class="govuk-summary-list__value">
                  Charge Proved
                </dd>

              </div>


        </dl>



                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Awards</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header sanction_no_wrap">How long</th>
                        <th scope="col" class="govuk-table__header sanction_no_wrap">Effective date</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header sanction_no_wrap">Status date</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Stoppage of Earnings (%)</td>
                          <td class="govuk-table__cell sanction_no_wrap">7 days</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                          <td class="govuk-table__cell">Immediate</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Exclusion from Associated Work</td>
                          <td class="govuk-table__cell sanction_no_wrap">7 days</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                          <td class="govuk-table__cell">Immediate</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                        </tr>

                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">Forfeiture of Privileges</td>
                          <td class="govuk-table__cell sanction_no_wrap">7 days</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                          <td class="govuk-table__cell">Immediate</td>
                          <td class="govuk-table__cell sanction_no_wrap">14 June 2016</td>
                        </tr>

                    </tbody>
                  </table>



          </section>
        </article>
      </div>



      <div class="govuk-grid-row">
        <article class="moj-ticket-panel" aria-label="hearing">
          <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="hearing detail">
            <h2 class="govuk-heading-m" id="hearingDateTime">Hearing on 18 May 2016, 9.00am</h2>












        <dl class="govuk-summary-list govuk-summary-list--no-border">


              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  What
                </dt>
                <dd class="govuk-summary-list__value">
                  Governor's Hearing Adult
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Where
                </dt>
                <dd class="govuk-summary-list__value">
                  Adjudication Room, Wymott (HMP)
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Heard by
                </dt>
                <dd class="govuk-summary-list__value">
                  Unavailable
                </dd>

              </div>



              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Comments
                </dt>
                <dd class="govuk-summary-list__value">
                  Unavailable
                </dd>

              </div>


        </dl>



          </section>
        </article>
      </div>


            </div>


              </div>

    </div>
    </div>

  {% endblock %}
