{% extends "layouts/launchpad.html" %}

{% set pageName="New request" %}
{% set version="v1" %}
{% set bodyClasses = 'lp-transormation' %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/accelerator/pip/v1/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Requests</a>
            </li>
          </ol>
        </div>
      </nav>

      <h1 class="govuk-heading-xl">
        {{pageName}}
      </h1>
      <p class="govuk-body-l">Click on the type of request you want to make.</p>

    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="tiles-panel govuk-grid-column-full govuk-!-padding-0">
      <div id="tiles">
      {% for menu in data['menus'] %}
      <div class="link-tile">
          <a href="./healthcare/">
              <img src="/public/images/requests/{{ menu.request_image }}" alt="link tile image" loading="lazy">
              <footer class="govuk-!-padding-4 govuk-grid-column-full">
                  <h3 class="govuk-heading-m">{{ menu.request_name }}</h3>
                  <p class="govuk-body">{{ menu.request_description }}</p>
              </footer>
          </a>
      </div>
      {% endfor %}
    </div>
    </div>

  </div>

  </div> <!-- end main content  -->



{% endblock %}
