.govuk-main-wrapper {
  min-height: 600px;
}

.container-background-black {
  background-color:  govuk-colour("black");
}

body.launchpad .connect-dps-common-header__navigation__item > button.connect-dps-common-header__menu-toggle > span {
  border-left: transparent !important;
}
