{% extends "layouts/launchpad.html" %}

{% set pageName="Book a visit" %}
{% set version="v1" %}
{% set bodyClasses = 'lp-transormation' %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../../">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Requests</a>
            </li>
          </ol>
        </div>
      </nav>

      <span class="govuk-caption-xl">Your request</span>
      <h1 class="govuk-heading-xl">
        {{pageName}}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--grey">
              Sent
            </strong>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Visitor name
          </dt>
          <dd class="govuk-summary-list__value">
            Physiotherapy
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Dates
          </dt>
          <dd class="govuk-summary-list__value">
            Back
          </dd>
        </div>
      </dl>

      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Cancel request
      </button>


      </div>

      <div class="govuk-grid-column-full govuk-!-padding-0">

      </div>

      <div class="govuk-grid-column-one-half govuk-!-padding-0">


      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="more-detail">
            Send a message
          </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">

        </div>
        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </div>


    </div>


  </div> <!-- end main content  -->



{% endblock %}
