<tr class="govuk-table__row">
	<td class="govuk-table__cell govuk-table__cell-checkboxes">
		<div class="govuk-checkboxes__item">
			<input class="govuk-checkboxes__input" id="select-{{ app.app_id }}" name="businesshub_app" type="checkbox" value="">
			<label class="govuk-label govuk-checkboxes__label" for="organisation-2">
				<span class="govuk-visually-hidden">Select</span>
			</label>
		</div>
	</td>
	<td class="govuk-table__cell reldate">0</td>
	<td class="govuk-table__cell">
		{% if data['appType'] == "bh_02" %}
			Add emergency PIN phone credit
		{% elseif data['appType'] == "bh_03" %}
			Add new PIN phone contact
		{% elseif data['appType'] == "bh_04" %}
			Remove PIN phone contact
		{% elseif data['appType'] == "bh_05" %}
			Swap visiting orders (VOs) for PIN credit
		{% else %}
			Top up PIN phone credit
		{% endif %}
	</td>
	<td class="govuk-table__cell">
		Patel, Taj
		<span class="govuk-table__subtext govuk-body-s">
			{% if data['prisonNumber'] %}
				{{ data['prisonNumber'] }}
			{% else %}
				16539153
			{% endif %}
		</span>
	</td>
	<td class="govuk-table__cell">Pending</td>
	<td class="govuk-table__cell"><a href="./apps/app-1/">View</a></td>
</tr>



{% for app in data['pinApps'] %}
<tr class="govuk-table__row">
	<td class="govuk-table__cell govuk-table__cell-checkboxes">
		<div class="govuk-checkboxes__item">
			<input class="govuk-checkboxes__input" id="select-{{ app.app_id }}" name="businesshub_app" type="checkbox" value="{{ app.app_id }}">
			<label class="govuk-label govuk-checkboxes__label" for="organisation-2">
				<span class="govuk-visually-hidden">Select {{ app.app_type }} {{ app.prisoner_name }}</span>
			</label>
		</div>
	</td>
	<td class="govuk-table__cell reldate">{{ app.date_received }}</td>
	<td class="govuk-table__cell">{{ app.app_type }}</td>
	<td class="govuk-table__cell">
		{{ app.prisoner_name }}
		<span class="govuk-table__subtext govuk-body-s">{{ app.prisoner_number }}</span>
	</td>
	<td class="govuk-table__cell">{{ app.status }}</td>
	<td class="govuk-table__cell"><a href="./apps/app-1/">View</a></td>
</tr>
{% endfor %}
