{% extends "layouts/dps.html" %}

{% set pageName="New PIN phone contact" %}
{% set version="v1" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/v1-1/" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
  			<div class="govuk-breadcrumbs">
  				<ol class="govuk-breadcrumbs__list">
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}">Digital Prisons Services</a>
  					</li>
  					<li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}/applications/">Applications</a>
  					</li>
            <li class="govuk-breadcrumbs__list-item">
  						<a class="govuk-breadcrumbs__link" href="{{homeurl}}/applications/business-hub/">Business Hub</a>
  					</li>
  				</ol>
  			</div>
  		</nav>

      <span class="govuk-caption-xl">Business Hub applications</span>
      <h1 class="govuk-heading-xl">
        {% if data['appType'] %}
          {{ data['appType'] }}
        {% else %}
          {{ pageName }}
        {% endif %}
      </h1>
    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-right-9 govuk-!-padding-left-0">


      <nav class="moj-sub-navigation" aria-label="Sub navigation">

        <ul class="moj-sub-navigation__list">
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" aria-current="page" href="./index.html">Application</a>
          </li>

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./comments.html">
              Comments
              <span id="notifications" class="moj-notification-badge">1</span>
            </a>
          </li>

          {% if data['actionRespond'] == "approved" or data['actionRespond'] == "declined"  %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action-decision.html">Action and reply</a>
          </li>
          {% else %}
          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./action.html">Action and reply</a>
          </li>
          {% endif %}

          <li class="moj-sub-navigation__item">
            <a class="moj-sub-navigation__link" href="./history.html">History</a>
          </li>
        </ul>

      </nav>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Applicaton details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Status
              </dt>
              <dd class="govuk-summary-list__value">
                <strong class="govuk-tag govuk-tag--grey">
                  Pending
                </strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Department
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['appDept'] %}
                  {{ data['appDept'] }}
                {% else %}
                  Business Hub
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="forward.html">Forward<span class="govuk-visually-hidden"> department</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application type
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['appType'] %}
                  {{ data['appType'] }}
                {% else %}
                  {{ pageName }}
                {% endif %}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date sent
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ 0 | getDate }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Application ID
              </dt>
              <dd class="govuk-summary-list__value">
                321321
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Prisoner details</h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                <a href="#">Patel, Taj (
                  {% if data['prisonNumber'] %}
                    {{ data['prisonNumber'] }}
                  {% else %}
                    12345678
                  {% endif %}
                  )</a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                C-2-013
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                IEP
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">Enhanced</p>
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Contact’s details</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Full name
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactName'] %}
                  {{ data['contactName'] }}
                {% else %}
                  Leila Patel
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Full name</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['companyName'] %}
                  {{ data['companyName'] }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Company</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 1
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress1'] %}
                  {{ data['contactAddress1'] }}
                {% else %}
                  1002 Acacia Avenue
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Address line 1</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address line 2
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactAddress2'] %}
                  {{ data['contactAddress2'] }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Address line 2</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Town or city
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactTowncity'] %}
                  {{ data['contactTowncity'] }}
                {% else %}
                  Hopetown
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Town or city</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Postcode
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactPostcode'] %}
                  {{ data['contactPostcode'] }}
                {% else %}
                  HP1 3TH
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Postcode</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactTel'] %}
                  {{ data['contactTel'] }}
                {% else %}
                  07777 123456
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Telephone number</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Relation to prisoner
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['contactRelationship'] %}
                  {{ data['contactRelationship'] }}
                {% else %}
                  Friend
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">Relation to prisoner</span></a>
              </dd>
            </div>
          </dl>

         </div>
      </div>

      </div>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
