{% extends "layouts/launchpad.html" %}

{% set pageName="New request" %}
{% set version="v1" %}
{% set bodyClasses = 'lp-transormation' %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../../">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Requests</a>
            </li>
          </ol>
        </div>
      </nav>

      <h1 class="govuk-heading-xl">
        {{pageName}}
      </h1>
      <p class="govuk-body-l">Click on the type of request you want to make.</p>

    </div>
  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-full govuk-!-padding-0">


      <ul class="govuk-grid-row card-group">

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Activities</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Chaplaincy</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Complaints</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Contact</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Jobs</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Finance</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Healthcare</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Internal contact</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Library</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">OMU</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Reception</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="card card--clickable content-card">
            <img src="/public/images/profile/image_visitors.jpg" alt="" loading="lazy">
            <div class="card__content">
            <h3 class="govuk-heading-m">
              <a href="" class="govuk-link govuk-link--no-visited-state card_link">Residential</a>
            </h3>
            <p class="govuk-body govuk-!-margin-bottom-0">text</p>
            </div>
          </div>
        </li>

      </ul>
    </div>


  </div> <!-- end main content  -->



{% endblock %}
