{% extends "layouts/dps.html" %}

{% set pageName="Select application type" %}
{% set version="latest" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/latest/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-!-padding-top-9" id="main-content" role="main">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
              <div class="govuk-panel__body govuk-!-padding-bottom-3">
                {% if data['appType'] == "bh_01" %}
                  Top up PIN phone credit
                {% elseif data['appType'] == "bh_02" %}
                  Add emergency PIN phone credit
                {% elseif data['appType'] == "bh_03" %}
                  Add new PIN phone contact
                {% elseif data['appType'] == "bh_04" %}
                  Remove PIN phone contact
                {% elseif data['appType'] == "bh_05" %}
                  Swap visiting orders (VOs) for PIN credit
                {% endif %}
              </div>
              <h1 class="govuk-panel__title">
                Application submitted
              </h1>
            </div>
            <p class="govuk-body-l">Business Hub has this application and has been notified by email.</p>
            <p class="govuk-body">You can now:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li><a href="{{homeurl}}applications/business-hub/apps/app-1/">View this application</a></li>
                <li><a href="{{homeurl}}applications/log/select-app-type.html">Add another application</a></li>
                <li><a href="{{homeurl}}applications/">Return to applications dashboard</a></li>
            </ul>


            </div>
        </div>
      </main>
    </div></div>

  </div> <!-- end main content  -->



{% endblock %}
