{% extends "layouts/dps.html" %}

{% set pageName="Add emergency PIN phone credit" %}
{% set version="v1-5" %}
{% set bodyClasses = 'dps staff-v1' %}
{% set homeurl="/managing-app-requests/staff/v1-5/" %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">

      <a href="javascript:history.go(-1)" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">{{pageName}}</span>
      <h1 class="govuk-heading-xl">Add application details</h1>

      <div class="govuk-width-container">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">


            <form class="form" action="{{homeurl}}applications/log/check-answers">


            <div class="govuk-form-group govuk-!-margin-bottom-0">
              <label class="govuk-label govuk-label--s" for="prisonNumber">
                Prison number
              </label>
              <input class="govuk-input govuk-input--width-10" id="prisonNumber" name="prisonNumber" type="text" value="{{ data['prisonNumber'] }}">
              <a href="#" id="prisonNumber-lookup" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Find prisoner
              </a>
            </div>

            {% if data['prisonNumber'] %}

            <div id="prisoner-name-row" class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="prisonerName">
                Prisoner name
              </label>
              <input class="govuk-input" id="prisonerName" name="prisonerName" type="text" value="Taj Patel" disabled>
            </div>

            {% endif %}

            {%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

              {{ mojDatePicker({
              id: "submittedDate",
              name: "submittedDate",
              label: {
                  text: "Submitted on",
                  classes: "govuk-label--s"
              },
              value:  data['submittedDate'] ,
              classes: "govuk-!-margin-bottom-5"
            }) }}

            <h2 class="govuk-heading-m">Emergency PIN phone credit</h2>

            <div class="govuk-form-group govuk-!-margin-bottom-5">
              <label class="govuk-label govuk-label--s" for="event-name">
                Amount
              </label>
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-input--width-5" id="pin-credit" name="pinCredit" type="text" spellcheck="false" value="{{ data['pinCredit'] }}">
              </div>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" for="emerg-pin-reason">
                Reason
              </label>
              <textarea class="govuk-textarea" id="emerg-pin-reason" name="emergencyPInReason" rows="5">{{ data['emergencyPInReason'] }}</textarea>
            </div>

            <div class="moj-button-action">
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end main content  -->



{% endblock %}
