{% extends "layouts/main.html" %}

{% set pageName="Home" %}


{% block header %}
{% set page = '/' %}

{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/",
  containerClasses: "govuk-width-container"
}) }}


<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-xl govuk-!-margin-bottom-3">
          {{ serviceName }} team prototypes
        </h1>
        <div class="app-masthead__description">
          <p class="govuk-body-l">
            This prototype hub belongs to the is the Lauchpad team and contains prototypes and experiments for prisoner and staff facing interfaces.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h2 class="govuk-heading-l govuk-!-margin-top-5">Projects</h2>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6 govuk-!-padding-left-0">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <a href="/launchpad/" class="govuk-link--no-visited-state">Launchpad</a>
        </h3>
        <p class="govuk-body">
          Prototypes for prisoner facing products that sit within the Launchpad product set.
        </p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <a href="/managing-app-requests/" class="govuk-link--no-visited-state">Managing App Requests</a>
        </h3>
        <p class="govuk-body">
          Prototypes for staff facing Managing App Requests which sits in the DPS product set.
        </p>
    </section>

    </div>

    <div class="govuk-grid-column-three-quarters">


    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6 govuk-!-padding-left-0">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <a href="/accelerator/" class="govuk-link--no-visited-state">Accelerator</a>
        </h3>
        <p class="govuk-body">
          Prototypes created for the Launchpad accelerator programme.
        </p>
    </section>

    <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          <a href="/sandbox/" class="govuk-link--no-visited-state">Sandbox</a>
        </h3>
        <p class="govuk-body">
          Sandbox area to try things out.
        </p>
    </section>

  </div>

</div>

{% endblock %}
