{% extends "layouts/launchpad.html" %}

{% set pageName="Healthcare request" %}
{% set version="v1" %}
{% set bodyClasses = 'lp-transormation' %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <a href="#" class="govuk-back-link">Back</a>

      <span class="govuk-caption-xl">Healthcare request</span>
      <h1 class="govuk-heading-xl">
        Check your details
      </h1>

    </div>

  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of request
          </dt>
          <dd class="govuk-summary-list__value">
            Healthcare appointment
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Healthcare needed
          </dt>
          <dd class="govuk-summary-list__value">
            Physiotherapist
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What part of your body is injured?
          </dt>
          <dd class="govuk-summary-list__value">
            Back
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the problem?
          </dt>
          <dd class="govuk-summary-list__value">
            Sciatica, shooting pain down leg.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            When did it start
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">in the last month</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>

      <a href="./index-6.html" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>


  </div> <!-- end main content  -->



{% endblock %}
