{% extends "layouts/launchpad.html" %}

{% set pageName="Healthcare request" %}
{% set version="v1" %}
{% set bodyClasses = 'lp-transormation' %}


{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">
    <div class="govuk-width-container">
      <nav aria-label="breadcrumb">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../../">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="../">Requests</a>
            </li>
          </ol>
        </div>
      </nav>
    </div>

  </div>


  <div class="govuk-grid-row govuk-width-container govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-half govuk-!-padding-0">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Healthcare request complete
        </h1>
        <div class="govuk-panel__body">

        </div>
      </div>

      <p class="govuk-body">We have sent a request to the healthcare provider for an appointment with the Physiotherapist.</p>

      <p class="govuk-body">While we are dealing with your request you can have a look at some articles and videos on the content hub about looking after your back.</p>


      <a href="../../../requests/" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Your requests
      </a>

    </div>

    <div class="govuk-grid-column-full govuk-!-padding-0">

      <div class="small-tiles content__four-items ">


        <a data-featured-tile-id="5797" data-featured-id="5797" data-featured-title="Upper Limb - Rehabilitation - 6 mins" href="/content/5797">
          <div class="tile-top">


              <img src="https://cloud-platform-ee432bcfffe38a157f08669a6d4b7740.s3.eu-west-2.amazonaws.com/styles/tile_small/s3/2020-06/Screenshot%202020-06-01%20at%2011.00.17.png?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA27HJSWAHBMWZSGNQ%2F20240319%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20240319T002342Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=95778&amp;X-Amz-Signature=48e5482ce3537f0f52822e7374883e7dc0560d5cf036755c553499b0e0c1079a" alt="" class="tile-image" loading="lazy">

            <h3 class="govuk-heading-m" style="">Upper Limb - Rehabilitation - 6 mins</h3>
          </div>
          <div class="govuk-grid-column-full govuk-hub-contentTileSmall">
            <div>

                <p class="content-link--video">Watch</p>

            </div>
          </div>
        </a>




        <a data-featured-tile-id="5757" data-featured-id="5757" data-featured-title="Lower Limb - Rehabilitation - 4 mins" href="/content/5757">
          <div class="tile-top">


              <img src="https://cloud-platform-ee432bcfffe38a157f08669a6d4b7740.s3.eu-west-2.amazonaws.com/styles/tile_small/s3/2020-05/Screenshot%202020-05-28%20at%2021.31.58.png?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA27HJSWAHBMWZSGNQ%2F20240318%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20240318T225844Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=14476&amp;X-Amz-Signature=bcde9a4a1f4d36e3206d046a17cfe0c9668ab140731a56eeb58e325ac4be73af" alt="" class="tile-image" loading="lazy">

            <h3 class="govuk-heading-m" style="">Lower Limb - Rehabilitation - 4 mins</h3>
          </div>
          <div class="govuk-grid-column-full govuk-hub-contentTileSmall">
            <div>

                <p class="content-link--video">Watch</p>

            </div>
          </div>
        </a>




        <a data-featured-tile-id="5756" data-featured-id="5756" data-featured-title="Spinal Rehabilitation - 5 mins" href="/content/5756">
          <div class="tile-top">


              <img src="https://cloud-platform-ee432bcfffe38a157f08669a6d4b7740.s3.eu-west-2.amazonaws.com/styles/tile_small/s3/2020-05/Screenshot%202020-05-28%20at%2021.00.20.png?X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&amp;X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIA27HJSWAHBMWZSGNQ%2F20240319%2Feu-west-2%2Fs3%2Faws4_request&amp;X-Amz-Date=20240319T002342Z&amp;X-Amz-SignedHeaders=host&amp;X-Amz-Expires=95778&amp;X-Amz-Signature=fa20c1ef0847c651486e1050024189bb2422786814be8272e9007737c680aed4" alt="" class="tile-image" loading="lazy">

            <h3 class="govuk-heading-m" style="">Spinal Rehabilitation - 5 mins</h3>
          </div>
          <div class="govuk-grid-column-full govuk-hub-contentTileSmall">
            <div>

                <p class="content-link--video">Watch</p>

            </div>
          </div>
        </a>



      </div>

    </div>

  </div> <!-- end main content  -->



{% endblock %}
