<div class="govuk-summary-list--header">
  <h2 class="govuk-heading-m">Add new PIN phone contact</h2>
  <a href="" class="govuk-body">Change <span class="govuk-visually-hidden">PIN phone contact</span></a>
</div>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Full name
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['contactName'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Company
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['companyName'] }}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address line 1
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contactAddress1'] %}
        {{ data['contactAddress1'] }}
      {% else %}
        23 Maple Street
      {% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Address line 2
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contactAddress2'] %}
        {{ data['contactAddress2'] }}
      {% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Town or city
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contactTowncity'] %}
        {{ data['contactTowncity'] }}
      {% else %}
        Manchester
      {% endif %}
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       Postcode
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contactPostcode'] %}
        {{ data['contactPostcode'] }}
      {% else %}
        M1 4QQ
      {% endif %}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       Country
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data['contactCountry'] %}
        {{ data['contactCountry'] }}
      {% else %}
        United Kingdom
      {% endif %}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       Telephone numbers
    </dt>
    <dd class="govuk-summary-list__value">
      <p>{{ data['contactTel1'] }}</p>
      <p>{{ data['contactTel2'] }}</p>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       Relation to prisoner
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['contactRelationship'] }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
       Date of birth
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['contact-dob-day'] }} / {{ data['contact-dob-month'] }} / {{ data['contactDOByear'] }} <span id="age"> ({{ 2024 - data['contactDOByear'] | int }} years old)</span>
    </dd>
  </div>
</dl>
