<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/managing-app-requests/staff/latest/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Latest</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Iteration
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Latest version</h2>
    <p>This is the first version to be usability tested.</p>
    <p>Changes made from the previos version based on feedback from the staff at the collaborative sensemaking session.</p>
    <p>You can read an overview of these changes <a href="#">here.</a></p>
    <p>Based on this <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3834-35525">figma design</a></p>
  </td>
</tr>
<!--  end example -->
