<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/managing-app-requests/staff/v1-1/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.1</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Idea
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1.1</h2>
    <p>This prototype focusses on viewing and manaing an app. Key changes from the previous version are the app screen and the list of apps in a category or department screen.</p>
    <p>Based on <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=2987-20908">this Figma design</a></p>
  </td>
</tr>
<!--  end example -->
