<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/managing-app-requests/staff/v1-5/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.5</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Iteration
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1.5</h2>
    <p>This version was created to use in usability testing focussing in on PIN phone applications.</p>
    <p>Changes in this version include:</p>
      <ul>
        <li>Changed the way adding a member of staff to be notified to work</li>
        <li>Improveents to the flow to add another application</li>
        <li>Introduced a confirmaton page</li>
      </ul>
    <p>Based on this <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3584-11687">figma design</a></p>
  </td>
</tr>
<!--  end example -->
