<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="/managing-app-requests/staff/v1-5/"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1.5</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Prototype
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1.5</h2>
    <p>This is the first version to be usability tested</p>
    <p>Based on this <a href="https://www.figma.com/design/f0C82D7IwHNyFqTLS5pUIR/Managing-Apps---Staff-interface?node-id=3584-11687">figma design</a></p>
  </td>
</tr>
<!--  end example -->
