<!--  example -->
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="#"
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold" target="_blank">Version 1</a>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag govuk-tag--grey">
      Idea
    </span>
  </td>
  <td class="govuk-table__cell">
    <h2 class="govuk-heading-s">Version 1</h2>
    <p>This version of the prototype includes the basic flow to view an app from DPS home, via an apps landing page. We have iterated the Figma designs since starting this so I am archiving this piece of work and will iterate it in the next version.</p>
  </td>
</tr>
<!--  end example -->
